In [3]:
# Import dependencies 
import pandas as pd
from sqlalchemy import create_engine 
from config import Password

ImportError: cannot import name 'Password' from 'config' (C:\Users\bradl\anaconda3\lib\site-packages\config\__init__.py)

In [4]:
# Visualization tools 
from matplotlib import plypot as plt
import numpy as np 
import scipy.stats as stats

ImportError: cannot import name 'plypot' from 'matplotlib' (C:\Users\bradl\anaconda3\lib\site-packages\matplotlib\__init__.py)

In [ ]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://localhost:5432/employee_db')
connection = engine.connect()

In [ ]:
# Create database 
employee_df = pd.read_sql("SELECT * FROM employees", connection)
salary_df = pd.read_sql("SELECT * FROM salaries", connection)
title_df = pd.read_sql("SELECT * FROM tiles", connection)

In [ ]:
# Create histogram to visualize the most coommon salary ranges for employees 
plt.hist(salary_df['salary'], 20, density=False, lable='Salary')

plt.xlabel('Salary')
plt.ylabel('Number of Employees')
plt.title('Common Salary Ranges')
plt.savefig('commonSalaryRanges.png')

In [ ]:
# Create a bar chart of average salary by title 
# Define the Query Search 

queryIntoPandas = pd.read_sql("SELECT * FROM salaries
                              ")